<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tutaj spis wszystkich itemów ze sklepu</title>
</head>
<body>

<td th:text="${hello}">1</td>

</body>
</html>